body {
    padding: 200px 0 0 0;
    display: flex;
    flex-direction: row;
}

.list-container {
    width: 500px;
    min-height: 400px;
    box-sizing: border-box;
    margin: 0 200px 0 0;
    padding: 0;
    border: 1px solid #000000;
    border-radius: 10px;

}

.list-container__title {
    text-align: center;
    border-bottom: 1px solid #000000;
    margin: 0;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form {
    width: 230px;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #fab507;
    padding: 10px;
    border-radius: 5px;
}

.form__input {
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    text-align: center;
}

.form__input::placeholder {
    text-align: center;
}

.form__button {
    width: 70%;
    height: 30px;
    background-color: bisque;
}

.button, .form__input {
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: opacity .4s;
}

.button:hover, .form__input:hover {
    opacity: .7;
}

.products-list__product {
    display: flex;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 20px;
}