.page {
    position: relative;
    background-color: #dbd7d7;
}

.page__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 5px;
    color: #a8a4a4;
    z-index: -10;
    position: absolute;
    top: 50px;
    left: 300px;
}

.page__subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
    position: absolute;
    top: 280px;
    left: 330px;
    z-index: 3;
}

.page__paragraphs-container {
    position: absolute;
    top: 145px;
    left: 440px;
}

.page__paragraph {
    width: 525px;
    font-size: 17px;
    font-weight: 800;
    line-height: normal;
}
